HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Ignorar pastas de logs
*.log
logs/

# Ignorar pastas de uploads locais (já que vais usar o Disk do Render)
uploads/

# Ignorar ficheiros do sistema e do IDE
.idea/
.vscode/
*.iml
.DS_Store

# Ignorar ficheiros de configuração sensíveis (senhas)
.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
